
<%- include("partials/header") -%>

  <h1>Home</h1>
  <p class="justify-text"><%=homeStartingContent%> </p>

  <% postsList.forEach(post => { %>

    <% if(post.body.length > 100) { %>
        <h2><%=post.title%></h2>
        <p class="justify-text">
          <%=post.body.substring(0, 150) + " ..."%>
          <a href="/posts/:<%=post.title%>">Read more</a>
        </p> 
        
      <% } else { %>
        <h2><%=post.title%></h2>
        <p class="justify-text"><%=post.body%></p> 
      <% } %>
  <%}); %>

<%- include("partials/footer") -%>
