
<%- include("partials/header") -%>

  <h1>Home</h1>
  <p><%=homeStartingContent%> </p>

  <% postsList.forEach(post => { %>

    <% if(post.postBody.length > 100) { %>
        <h2><%=post.postTitle%></h2>
        <p class="long-post">
          <%=post.postBody.substring(0, 150) + " ..."%>
          <a href="/posts/:<%=post.postTitle%>">Read more</a>
        </p> 
        
      <% } else { %>
        <h2><%=post.postTitle%></h2>
        <p><%=post.postBody%></p> 
      <% } %>
  <%}); %>

<%- include("partials/footer") -%>
